a {
  &.link {
    border-top: 2px solid $yellow;
    line-height: 2;
  }
  &.arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    &:hover {
      padding-bottom: 10px;
      animation: 2s ease-in-out;
    }
  }
}


