.work {
  margin-bottom: 160px;
  img {
    box-shadow: 0px 40px 42px 0px rgba(0,0,0,0.24);
    margin: 120px auto 0 auto;
    width: 80%;
  }
  .task {
    margin: 160px 0 30px;
  }

  .info {
    padding: 0 1em;
  }

  .work_mobile img{
    width: 40%;
  }

  .work_mobile_back {
    position: relative;
    margin-bottom: 100px;

  }
  .work_mobile_front {
    position: absolute;
    top: 80px;
    right: 50px;
  }
}

#first_work {
  padding-top: 120px;
}
