.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  h1 {
    font-size: 3em;
  }
  h2 {
  padding: 0 120px 0 80px;
  font-weight: 400;
  }
}

#welcome {
  position: relative;
}

