.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
}

.intro {
  h1 {
    font-size: 3em;
  }
  h2 {
  font-weight: 400;
  font-size: 1.4em;
  }
  ul {
    margin-top: 30px;
  }
}

#welcome {
  position: relative;
}

