---
title: Portfolio
---
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="intro">
          <h1>Bonjour,</h1>
          <h2>je suis Lisa, une Webdesigner & Dev Ruby Junior freelance</h2>
          <ul class="list-unstyled text-right">
            <li><a class="link" href="#">linkedin</a></li>
            <li><a class="link" href="#">dribbble</a></li>
            <li><a class="link" href="#">mail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="work">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 text-center center-block">
        <%= image_tag('work_wor.jpg', class: "img-responsive")  %>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="info">
          <h1>Women on Rails</h1>
          <h2>un groupe de travail visant à faire progresser les femmes dans l’internet</h2>
          <ul class="list-unstyled text-right">
            <li>identité</li>
            <li>webdesign</li>
            <li>intégration</li>
          </ul>
          <p class="text-right">
            <a class="link" href="#">Visiter le site</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="info">
          <h1>Webibli</h1>
          <h2>Webibli est un site de prêt de livres spécialisés dans le web.</h2>
          <ul class="list-unstyled text-left">
            <li>identité</li>
            <li>webdesign</li>
            <li>intégration</li>
            <li>développement</li>
          </ul>
          <p class="text-left">
            <a class="link" href="#">Visiter le site</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 text-center center-block">
        <%= image_tag('work_webibli.jpg', class: "img-responsive")  %>
      </div>
    </div>
  </div>
</section>

